<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="../static/script.js"></script>
    </head>

    <body>
        <div class="main">
            <div class="container">
                <img id="heart" class="heart" src="../static/heart.svg">
            </div>
            
            <div class="container">
                <h1 style="display:inline-block;margin-right:20px;">When I see you</h1>

                <label class="switch" style="display:inline-block; vertical-align: text-bottom">
                    <input type="checkbox" onclick="onClick(this)">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </body>
</html>